In [1]:
from sklearn.datasets import load_linnerud

import pandas as pd
df=load_linnerud(return_X_y=True,as_frame=True)
df[0].head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [11]:
df[1].head()

   Weight  Waist  Pulse
0   191.0   36.0   50.0
1   189.0   37.0   52.0
2   193.0   38.0   58.0
3   162.0   35.0   62.0
4   189.0   35.0   46.0

In [19]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

class Solution1():
    def __init__(self) -> None:
        df=load_linnerud(return_X_y=True,as_frame=True)
        self.X_train,self.X_test,self.y_train,self.y_test=train_test_split(df[0],df[1],test_size=0.25,random_state=42)
        
    
    def fit(self):
        self.model=Ridge()
        self.model.fit(self.X_train,self.y_train)


    def predict(self):
        return self.model.predict(self.X_test)

    def eval1(self,preds,gt):
        return mse(gt,preds)
    
    def eval2(self,preds,gt):
        preds_df=pd.DataFrame(preds,columns=sol.y_train.columns)
        mse={col: 0 for col in preds_df.columns}
        for col in preds_df.columns:
            for i in range(len(preds)):
                mse[col]+=(preds[col][i]-gt[col][i])**2
            mse[col]/=len(preds)
            
        
    
        


sol=Solution1()
sol.fit()
preds=sol.predict()
sol.eval1(preds,sol.y_test)

In [21]:
sol.X_train.columns

Index(['Chins', 'Situps', 'Jumps'], dtype='object')

In [46]:
len(preds)

5

In [26]:
preds_df=pd.DataFrame(preds,columns=sol.y_train.columns)
preds_df

       Weight      Waist      Pulse
0  163.129987  34.374208  59.577232
1  142.429851  31.197113  59.675537
2  156.810761  33.175038  57.916798
3  181.941163  37.100408  58.551973
4  148.708361  31.235336  56.031377

In [24]:
sol.y_test

    Weight  Waist  Pulse
0    191.0   36.0   50.0
17   157.0   32.0   52.0
15   202.0   37.0   62.0
1    189.0   37.0   52.0
8    176.0   31.0   74.0